{% extends 'base.html' %}

{% block content %}
        
{% load static %}
    <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-details">
            <h2>Our Address</h2>
            <p>123 Tech Street, Tech City, TX 12345</p>
            <p>Email: <a href="mailto:info@gidistores.com">info@gidistores.com</a></p>
            <p>Phone: <a href="tel:+2348108384953">+2348108384953</a></p>
            <p>WhatsApp: <a href="https://wa.me/+2348108384953" class="whatsapp-link" target="_blank">Chat with us on WhatsApp</a></p>
        </div>
        <div class="contact-form">
            <h2>Send Us a Message</h2>
            <form action="submit_contact_form.php" method="post">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="map">
            <h2>Find Us Here</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2386935990934!2d144.96305761531885!3d-37.81362777975133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf57764dfd8df28a5!2sTech%20Street%2C%20Melbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sus!4v1605268329181!5m2!1sen!2sus" width="600" height="450" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>

{% endblock %}