{% extends 'base.html' %}

{% block content %}
    
{% load static %}
    <div class="servicesContainer">
        <h1>Our Services</h1>

        <div class="service">
            <div class="icon">
                <img src="{% static 'images/laptop-icon.jpg' %}" alt="Laptop Sales Icon">
            </div>
            <h2>Laptop Sales</h2>
            <p>Explore our diverse range of laptops from top brands like Apple, Dell, HP, Lenovo, and more. Whether you need a high-performance gaming rig or a sleek ultrabook for business, we have the perfect solution to fit your needs.</p>
        </div>

        <div class="service">
            <div class="icon">
                <img src="{% static 'images/access-icon.jpg' %}" alt="Accessories Icon">
            </div>
            <h2>Accessories</h2>
            <p>Enhance your laptop experience with our selection of high-quality accessories. From ergonomic laptop stands and versatile docking stations to durable protective cases and high-speed external storage, we offer everything you need to optimize your workspace.</p>
        </div>

        <div class="service">
            <div class="icon">
                <img src="{% static 'images/consult-icon.jpg' %}" alt="Consultation Icon">
            </div>
            <h2>Expert Consultation</h2>
            <p>Experiencing issues with your laptop? Our team of tech experts is here to help. We provide personalized consultation services to diagnose problems, recommend solutions, and ensure your devices are running smoothly. Get in touch with us today to schedule your consultation.</p>
        </div>

        <div class="cta">
            <a href="{% url 'homepage' %}">Explore Our Shop</a>
        </div>
    </div>
{% endblock %}
